body{
    font-family: "Times New Roman", sans-serif;
    background-color: #000000;
    color: #ffffff;
}

h1{
    font-size: 64px;
    padding: 10px;
    text-align: center;
}
h2{
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
}

p{
    font-size: 24px;
    padding-top: 15px;
}

img{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    display: block;
}

div{
    min-height: 150px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}


#red{
    background-color: #ff0000;
    text-align: right;
}
#blue{
    background-color: #0000ff;
    text-align: left;
}
#yellow{
    background-color: #ffff00;
    text-align: right;
}
#yellow h2{
    color: #000000;
    text-shadow: 4px 4px 2px #c7e2c7;
}
#yellow p{
    color: #000000;
}
#green{
    background-color: #008000;
    text-align: left;
}

footer p{
    text-align: center;
    padding: 0px 10px 10px 0px;
}